body{
    margin: 0;
    display: flex;
    flex-direction: column;
}

#header-id, #footer-id, #section-1, #section-2, #section-3, #section-4{
    padding: 0px 200px;
}

#header-id, #footer-id, #section-1{
    background-color: #1f2937;
}

#hero-secondary-text, .header-list-item, #footer-id, #hero-image-id{
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up-button, #section-4-container{
    background-color: #3882f6;
    color: #f9faf8;
    cursor: pointer;
    padding: 8px 32px;
    border-radius: 8px;
}

#hero-main-text{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

#header-id{
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 16px;
}

#header-list-id{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 16px;
}

#main-body-id{
    flex: 1;
}

.main-body-section{
    height: 500px;
}

#section-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
}

#hero-image-id, #hero-main-id{
    flex: 1;
}

#hero-main-id{
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 0;
    gap: 16px;
}

#hero-sign-up-button-id{
    border: 1px solid #3882f6;
    align-self: flex-start;
    font-weight: bold;
}

#hero-image-id{
    background-color: grey;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
}

#section-2, #section-2-items, .section-2-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-2{
    gap: 56px;
}

#section-2-header{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding-top: 40px;
}

#section-2-items{
    flex-direction: row;
}

.section-2-item{
    text-align: center;
    gap: 8px;
}

.section-2-item-box{
    height: 150px;
    width: 150px;
    border-radius: 8px;
    border: 5px solid #3882f6;
}

#section-3{
    background-color: #e5e7eb;
}

#section-3-quote{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

#footer-id{
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}